<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Cindasoft Yazılım
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Yardım
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Lisans
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            @DateTime.Now.Year, Tüm hakları <i class="la la-heart heart text-danger"></i> Gizlidir <a href="#">CindaSoft</a>
        </div>
    </div>
</footer>