<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Yönetim Paneli
                        <span class="user-level">Admin</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="/Register/Index/">
                                <span class="link-collapse">Yeni Kayıt</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse">Şifre Güncelle</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Login/Index/">
                                <span class="link-collapse">Giriş Sayfası</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="/Default/Index/">
                    <i class="la la-motorcycle"></i>
                    <p>Siteye Git</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="index.html">
                    <i class="la la-dashboard"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/ProgressBars/Index/">
                    <i class="la la-laptop"></i>
                    <p>Kontrol Paneli</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Catagory/Index/">
                    <i class="la la-keyboard-o"></i>
                    <p>Katagoriler</p>
                </a>
            </li>
            <li class="nav-item ">
                <a href="/Product/Index/">
                    <i class="la la-lemon-o"></i>
                    <p>Ürünler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/MenuTable/TableListByStatus/">
                    <i class="la la-binoculars"></i>
                    <p>Masa Durumları</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Booking/Index/">
                    <i class="la la-bell"></i>
                    <p>Rezervasyonlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Statistic/Index/">
                    <i class="la la-bar-chart"></i>
                    <p>İstatistikler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Message/Index/">
                    <i class="la la-comments-o"></i>
                    <p>Mesajlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/About/Index/">
                    <i class="la la-font"></i>
                    <p>Hakkımızda</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Discount/Index/">
                    <i class="la la-globe"></i>
                    <p>İndirimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Contact/Index/">
                    <i class="la la-laptop"></i>
                    <p>Alt İletişim</p>
                </a>
            </li>  
            <li class="nav-item">
                <a href="/Testimonial/Index/">
                    <i class="la la-paperclip"></i>
                    <p>Referans Yorumları</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Setting/Index/">
                    <i class="la la-gears"></i>
                    <p>Ayarlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/SocialMedia/Index/">
                    <i class="la la-instagram"></i>
                    <p>Sosyal Medya</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/MenuTable/Index/">
                    <i class="la la-connectdevelop"></i>
                    <p>Masalar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Notifications/Index/">
                    <i class="la la-forumbee"></i>
                    <p>Bildirimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Feature/Index/">
                    <i class="la la-magic"></i>
                    <p>Öne Çıkanlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="icons.html">
                    <i class="la la-close"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
        </ul>
    </div>
</div>